<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow">
    <div class="container">
        <NavLink class="navbar-brand" href="" Match="NavLinkMatch.All">
            <i class="fas fa-shopping-cart me-2"></i>
            ECart
        </NavLink>
        <NavLink class="navbar-brand" href="admin">Admin</NavLink>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse d-flex justify-content-between" id="navbar">
            <ul class="navbar-nav d-flex">
                <li class="nav-item">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">Home</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="counter">Counter</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="products">Products</NavLink>
                </li>
                <NavLink class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Categories
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        @if (categories == null)
                        {
                            <li>loading..</li>
                        }
                        else
                        {
                            @foreach (var item in categories)
                            {
                                <li><a class="dropdown-item" href="categories/@item.Id">@item.CategoryName</a></li>
                            }
                        }

                    </ul>
                </NavLink>
            </ul>

        </div>
    </div>
</nav>


@code {
    private Category[] categories;

    private async Task GetCategoriesAsync()
    {
        categories = await Http.GetFromJsonAsync<Category[]>("https://localhost:44345/api/Categories");

        StateHasChanged();
    }

    protected override async void OnInitialized()
    {
        await GetCategoriesAsync();
       
    }
}
