
<div class="container mt-5">
    <div class="col-12 ">
        <div class="row">

            @if (categories == null)
            {
                <p>Loading all products..</p>
            }
            else
            {
                   
                foreach (var category in categories)
                {

                <h2 class="mt-3">@category.CategoryName</h2>

                    foreach (var product in category.Products)
                    {

                        if (category.Id == product.CategoryId)
                        {
                        <div class="col-12 col-lg-6">
                            <ProductItem Item="@product" />
                        </div>
                        }

                    }
                }
            }

            <h1 class="mt-5">ALLA PRODUKTER NEDAN</h1>
        

        </div>
    </div>
</div>

@code {
    private Product[] products;


    private async Task GetProductsAsync()
    {
        products = await Http.GetFromJsonAsync<Product[]>("https://localhost:44345/api/products");

    }

    private Category[] categories;

    private async Task GetCategoriesAsync()
    {
        categories = await Http.GetFromJsonAsync<Category[]>("https://localhost:44345/api/categories");

        StateHasChanged();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await GetProductsAsync();
        await GetCategoriesAsync();
        StateHasChanged();
    }


}
 