@page "/product/{id}"

<div class="container mt-5 d-flex justify-content-betweeen">
    <div class="p-5">
        <h3>@Item.ProductName</h3>
        <img src="@Item.ImgUrl" />
    </div>
    <div class="p-5 d-flex flex-column align-items-center justify-content-betweeen">
        <h4>@Item.ShortDescription</h4>
        <p>@Item.LongDescription</p>
    </div>
</div>

@code {

    [Parameter]
    public string Id { get; set; }

    public Product Item { get; set; } = new();



    protected override async Task OnInitializedAsync()
    {
        Item = await Http.GetFromJsonAsync<Product>($"https://localhost:44345/api/products/{Id}");
    }

}
